.post {
  background: #f0faffdd;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.comments-container {
  overflow-y: auto;
  margin-top: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.comments-container.visible {
  display: block;
}

.user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.post-header {
  display: flex;
  align-items: left;
  gap: 8px;
  font-weight: bold;
  justify-content: flex-start;
  padding-left: 10px;
  position: relative;
}

.username {
  font-size: 1rem;
  color: #333;
}

.real-estate-img {
  width: 100%;
  height: 200px;
  margin-top: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-left: 10px;
  margin-top: 10px;
}

.description p {
  margin: 2px 0;
}

.post-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
  display: inline-block;
  margin-left: 5px;
  flex: 1;
  min-width: fit-content;
}

.post-input.description {
  width: 100%;
  min-height: 10px;
  resize: none;
}

.edit-icon, .save-icon {
  right: 10px;
  position: absolute;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease-in-out;
}

.cancel-icon {
  right: 40px;
  position: absolute;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease-in-out;
}

.edit-icon:hover {
  color: #333;
}

.delete-icon {
  right: 40px;
  position: absolute;
  cursor: pointer;
  color: #c0392b;
  transition: color 0.2s ease-in-out;
}

.delete-icon:hover {
  color: #e74c3c;
}
