.post {
  background: #f0faff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; 
  transition: min-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;}

.user-img {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  object-fit: cover;
}

.post-header {
  display: flex;
  align-items: left;
  gap: 8px; 
  font-weight: bold;
  justify-content: flex-start; 
  padding-left: 10px;
}

.username {
  font-size: 1rem;
  color: #333;
}

.real-estate-img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  margin-top: 15px;
  border-radius: 12px;
}

.toggle-comments {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

